[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "<2.0,>=1.50"
flask = "*"
gunicorn = "*"
keras-image-helper = "*"
tensorflow-protobuf = "==2.7.0"
protobuf = "==3.19"
numpy = "*"

[dev-packages]
requests = "*"

[requires]
poetpython_version = "3.10"
